.manage-master .box1 {
    text-align: center;
    margin-bottom: 20px;
    padding: 32px 0px;
    height: 160px;
    border-radius: 0px;
    width: 100%;
    margin: 0px auto 0px auto;
    border: 0px solid #f37421 ;
}
.paddb{
    min-height: calc(100vh - 139px);
  }
  .card{border-radius: 0px !important;}
  #s4-workspace{overflow: hidden !important;overflow-y: auto !important;}
.manage-master .box1 {
    background: #fff !important;
}
.manage-master .box1:hover{
    background: #f37421 !important; 
}
.manage-master .box1:hover p{color: #fff !important;}
.manage-master .col-md-3 {
    width: 20% !important;
}
.manage-master .box1 .icon {
    padding: 10px 0px 10px 0px;
    margin-bottom: 7px; background: #fff;
    height: 60px; width: 60px; margin:0px auto 10px auto;
    font-size: 20px;
}
.manage-master .box1 p {
    display: block;
    font-size: 0.875rem;
}
// .navcss{margin-left: 0px !important;}
a
{
    text-decoration: none;
}
a:hover
{

    text-decoration: none;
}
.newwidth6{width: 33.3% !important; }
.text-primary {
    color: #f37421 !important;
}
.appltext{margin-top: 7px;}
.aaplnbg{background: #fff;height: 150px; padding: 25px 0px 0px 0px; margin-top: 13px; border: 1px solid #f6f6f6; border-radius: 0px; text-align: center;}
.aaplnbg svg{width:55px !important; height:40px !important;}
.aaplnbg:hover{cursor: pointer;border: 1px solid #f37421 ;}
.aaplnbg img {
    height: 50px;
    width: 50px;
}
.appltext {
    margin-top: 7px;
}

@media(max-width:1920px){
    .paddb{min-height: calc(100vh - 152px);}
    .aaplnbg{height: 180px; padding-top: 32px;}
}
@media(max-width:1600px){
    .aaplnbg{height: 155px; padding-top: 30px;}
}
@media(max-width:1440px){
    .aaplnbg{height: 145px; padding-top: 38px;}
}
@media(max-width:640px){
    #s4-workspace{overflow-y: auto !important;}
    .manage-master .col-md-3 {
        width: 100% !important;
    }
}