
.rounded-circlecss {
    border-radius: 50% !important;
    height: 2rem !important;
    width: 2rem !important;
  }
  .project-box{height: 200px;}
  .two-line{    overflow: hidden; line-height: 18px !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2;
    }
    .date-color{height: 38px;}
    .morealign{    position: absolute;
      width: 16px;
      right: 6px;}
  .arrow-none:after{display: none !important;}
  .circlecssnewnew, .circlecssnew  {height: 2.5rem !important; width: 2.5rem !important; border-radius: 1000px !important;}
  .newimg1{    float: left;
    margin: 1px 5px 0px 2px;}
    .newimg2{ margin: -1px 5px 0px 0px;}
    .modal-title{margin: inherit !important;}
    .newheight{margin-top: 15px !important;box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.16), 0 2px 6px 0 rgba(0, 0, 0, 0.12);}
.newminus{margin-left: -12px !important;    min-width: 2rem;}
    #ProjectName{height: 38px;}
  .nav-pills .nav-link{    border: 1px solid #54ade0 ;
    margin: 0px 5px;
    color: #3c3c3c;
    font-size: 14px;}
    .ml20{padding-left: 10px; padding-top: 10px;}
    .ml20 img{width: 2.5rem !important; height: 2.5rem !important; border-radius: 1000px !important;}


    

    .status-btn {
      display: inline-block;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 14px;
      text-decoration: none;
      color: white;
      cursor: pointer;
    }
    
    .status-ongoing {
      background-color: #6c757d; /* Grey color for Ongoing */
    }
    
    .status-finished {
      background-color: #d4edda; /* Light green color for Finished */
      color: #155724; /* Dark green text */
      border: 1px solid #c3e6cb; /* Border for Finished */
    }
    .datanew{border-bottom: 1px solid #efefef;position: relative;} 
.alignright{position: absolute; right: 10px; top: 0;}
.rounded-circlecss6{width: 3.5rem !important; float: left; border-radius: 1000px !important; height: 3.5rem !important;}