.manage-master .box1 {
    text-align: center;
    margin-bottom: 20px;
    padding: 32px 0px;
    height: 160px;
    border-radius: 20px;
    width: 100%;
    margin: 0px auto 0px auto;
    border: 2px solid #54ade0;
}
.paddb{
    min-height: calc(100vh - 139px);
  }
  #s4-workspace{overflow: hidden !important;}
.manage-master .box1 {
    background: #fff !important;
}
.manage-master .col-md-3 {
    width: 20% !important;
}
.manage-master .box1 .icon {
    padding: 10px 0px 10px 0px;
    margin-bottom: 7px;
    height: 60px;
    font-size: 20px;
}
.manage-master .box1 p {
    display: block;
    font-size: 0.875rem;
}
a
{
    text-decoration: none;
}
a:hover
{

    text-decoration: none;
}
.manage-master .box1:hover {
    border: 2px solid #54ade0;
    background: #efefef !important;
}
.content-page
{
  top: 2rem!important;
}
@media(max-width:1920px){
    .paddb{min-height: calc(100vh - 163px);}
}
@media(max-width:640px){
    #s4-workspace{overflow-y: auto !important;}
    .manage-master .col-md-3 {
        width: 100% !important;
    }
}