.gal-box {
    // margin-bottom: 15px;
    height: 225px;
    border-radius: 15px;
    position: relative;
    border: 2px solid #54ade0;
    float: left; width: 100%;
}
.app-menu{padding-top: 0px !important;}
.gal-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.modal-dialog {min-width: 80% !important; border-radius: 20px !important;}
.modal-content {min-width: 80% !important; border-radius: 20px !important;}
.modal-dialog .carousel-item{height: 500px;}
.mediagallery .modal-header{
    padding: 0px !important; border: 0px !important;
    position: absolute;
      width: 42px;
      background: #fff;
      right: 22px;
      height: 42px;
      border-radius: 1000px !important;
      z-index: 999;
      top: 27px;
  }
  .mediagallery .btn-close{
  
      /* background: #fff; */
      opacity: 1;
      /* color: #fff; */
      right: 7px !important;
      top: 8px !important; z-index: 90
      ;
      position: absolute;
  
  }
.modal-dialog .carousel-item img{border-radius: 15px; width: 100% ; height: 100% !important; object-fit: cover !important;}
.carousel-indicators {
    bottom: 0;
    /* display: flex; */
    justify-content: center;
    left: 0;
    margin-bottom: 1rem;
    margin-left: 15%;
    margin-right: 15%;
    padding: 0;
    position: absolute;
    right: 0;
    z-index: 2; list-style: none;
}
.carousel-indicators [data-bs-target] {
    display: none;
}
.font-28 {
    font-size: 30px !important;
    font-weight: 700;
    color: #000;
}
@media (max-width: 1920px) {
    .internalmedia .gal-box .image-popup, .gal-box  {
        height: 300px !important;
    }
}
@media (max-width: 1800px) {
    .internalmedia .gal-box .image-popup,.gal-box  {
        height: 280px !important;
    }
}
@media (max-width: 1660px) {
    .internalmedia .gal-box .image-popup,.gal-box  {
        height: 250px !important;
    }
}
@media (max-width: 1440px) {
    .internalmedia .gal-box .image-popup,.gal-box  {
        height: 225px !important;
    }
}
@media (max-width: 1280px) {
    .internalmedia .gal-box .image-popup,.gal-box  {
        height: 200px !important;
    }
}   