.card{
    width: 100% !important;
}
.text-center{
    display: flex !important;
    justify-content: center !important;
}
.btn-success{
    background-color: #008751 !important;
}
.btn-danger{
    background-color: #ff555d !important;
}
.topcard{
    height: 400px !important;
}
.cardbottom{
    height: 200px !important;
}

  .indexdesign{
    background: #d2effa !important;
      color: #1fb0e5 !important;
      width: 28px !important;
      height:28px !important;
      font-size: 16px !important;
      border: none;
      float: left;
      line-height: 30px !important;
    margin-left: 12px;
      padding: 0px 1px !important;
      border-radius: 1000px; text-align: center; font-weight: 600;
  }
  .pagination-container{margin-top: 5px !important;}
  #audittable{min-width: 80%;}
  #audittable .modal-body .cardCss {border: 0px solid #ccc !important;margin: 0px !important;}
  #audittable .modal-body .cardCss .card-body{padding: 0px !important;}
  #audittable .modal-body .cardCss .card-body h3{display: none;}
  #audittable .modal-body .cardCss .card-body table{margin: 0px !important;}
  .stausbg{
  
      border-radius: 4px;
      background: rgba(0, 135, 81, 0.20) !important;
      font-weight: 500 !important;
      color: #008751;
      padding: 1px 5px !important; text-align: center;
      
      
  }
  .lenbg{background: #ffc313; height:20px ; color: #fff; 
    font-weight: 700; margin-top: -3px; margin-left: 5px; 
    float:right; font-weight: 700;
    height: 22px;
    margin-left: 5px;
    margin-top: -2.3px;
    width: 30px;
    padding: 1px; line-height: 21px;
    border-radius: 1000px;
    text-align: center;}
    .paddb{
      min-height: calc(100vh - 159px);
    }
    #s4-workspace{overflow: hidden !important;}
    @media(max-width:1920px){
      .paddb{min-height: calc(100vh - 168px);}
  }
  
  @media(max-width:1600px){
    
    #s4-workspace{overflow-y: auto !important;}
  }
  @media(max-width: 768px)
 {

	/* Force table to not be like tables anymore */
	.mtbalenew, .mtbalenew thead, .mtbalenew tbody, .mtbalenew th, .mtbalenew td, .mtbalenew tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.mtbalenew thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.mtbalenew tr {         border: 1px solid #1fb0e5;
    border-radius: 10px;
    margin-bottom: 10px; }
    .mtbalenew td:nth-child(1),.mtbalenew th:nth-child(1){display: none !important;}
	.mtbalenew td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 0px solid #eee; 
		position: relative;
   
		padding-left: 37%; 
	}
  .mtbalenew td, .mtbalenew th {
    max-width: none !important;
    min-width: none !important; text-align: left !important;
}
	.mtbalenew td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 50%; 
		padding-right: 10px; 
		white-space: initial;
	}
	.mtbalenew tbody tr:nth-child(2n) td {
    background: #fff !important;
}
.mtbalenew tbody tr:nth-child(2n) {
  background-color: #fff;
  border-radius: 10px;
}
	/*
	Label the data
	*/
	.mtbalenew td:nth-of-type(1):before { content: "S.No"; font-weight: 600; }
  .mtbalenew td:nth-of-type(2):before { content: "Request ID"; font-weight: 600;}
	.mtbalenew td:nth-of-type(3):before { content: "Title"; font-weight: 600;}
	.mtbalenew td:nth-of-type(4):before { content: "Process Name"; font-weight: 600;}
	.mtbalenew td:nth-of-type(5):before { content: "Requested Date"; font-weight: 600;}
	.mtbalenew td:nth-of-type(6):before { content: "Status"; font-weight: 600;}
	.mtbalenew td:nth-of-type(7):before { content: "View Details"; font-weight: 600;}
	
}
.btn-light {
  background: #fff;
  border: 1px solid #efefef;
  border-radius: 30px;
  color: #3c3c3c;
  font-size: 13px;
}
.table-responsive{overflow-x: hidden;}
  .DMSMasterContainer{margin-top: 10px;}
  .topv{vertical-align: top;}
  @media(max-width:640px){
    .table-responsive{overflow-x: auto;}
    .DMSMasterContainer{display: grid; overflow: hidden;}
  
  }