@import '~@fluentui/react/dist/sass/References.scss';

.blogDetails {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}
.newtextc p{line-height: 22px !important; font-size: 15px;}
.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

.postion8{position: fixed; width:16%; }
  .bordernew{border-bottom: 1px solid #ccc; padding: 10px 0px;}
  .bordernew:last-child{border-bottom: 0px !important;}
  @media(max-width:1920px)
  {
      .postion8{width:24%; }
  }
  @media(max-width:1600px)
  {
      .postion8{width:23%; }
  }
  
  @media(max-width:1440px)
  {
      .postion8{width:23%; }
      .internalmedia .gal-box .image-popup {
        height: 200px !important;
    }
  }
  @media(max-width:1280px)
  {
      .postion8{width:24.5%; }
  }
  @media(max-width:1200px)
  {
      .postion8{width:24%; }
  }