 
.inputcss
{
  height: 40px;
  color: #6c757d;
  padding: .55rem .9rem !important;
  font-size: .875rem !important;
  font-weight: 400 !important;
}
.newhoverzom{transition: transform .2s;}
.newhoverzom:hover {
  cursor: pointer;
  transform: scale(1.03) !important;
}
.chip{margin-bottom: 0px !important;}
.ql-snow .ql-toolbar button, .ql-snow.ql-toolbar button{
  min-width: 28px;
}
.ql-editor{min-height: 120px; max-height: 120px;}
.ql-toolbar .ql-formats:nth-child(3),.ql-toolbar .ql-formats:nth-child(4){display: none !important;}
input.form-control.inputcss {
  display: block;
  width: 100%;
  padding: .55rem .9rem !important;
  font-size: .875rem !important;
  font-weight: 400 !important;
  height: 40px !important;
  line-height: 1.5;
  box-shadow: none;
  color: #6c757d !important;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ededed;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
}
 
.dropdown {
    position: relative;
    display: inline-block;
  }
 
  .dropbtn {
   
    cursor: pointer;
  }
  .newm{z-index: 99999 !important;}
  .newm .modal-dialog{left: 0.5% !important;}
  .show, .showNews{padding-left: 0px !important;}
  .btn-light1{padding: 7px 12px !important; background: #f8f9fa !important; border-color:#f8f9fa !important; border-radius: 7px !important;}
  .btn-light1:hover{background: #008751 !important; border-color: #008751 !important;}
  .dropdown-content {
    background-color: #fff;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .16), 0 2px 6px 0 rgba(0, 0, 0, .12);
    display: none;
    min-width: 110px;
    position: absolute;
    right: 1rem;
    transform: translateY(0px);
    padding: 0.5rem;
  }
 .newclose1{
  right: 24px !important;
  top: 19px !important;
 }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .btn-close {
    position: absolute;
    right: 20px !important;
    top: 20px !important;
}
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  .show {
    display: block;
  }
  .showNews
  {
    display: block;
  }
  .ql-container
  {
    height: auto;
  }
  .disable_ms {
    opacity: 1 !important;
    pointer-events: none;
    font-size: 1rem !important;
    font-weight: 500 !important;
}
.removeb{background: transparent !important; padding: 0px !important;}
  .mtbalenew th{padding: 10px 10px !important;}
  .newpad{padding: 10px !important; }
  .eventcommm .nose{padding: 0px !important; margin: 0px !important; }
  .removeb .searchWrapper{border: 0px solid #ccc !important;}
  .modal .modal-content select.removeb{border: 0px solid #ccc !important;opacity: 1 !important;
    pointer-events: none;
    font-size: 1rem !important;
    font-weight: 500 !important;}
  .removeb input{display: none !important;}
  .removeb .chip img{display: none !important;}
  .removeb .chip{background: transparent !important;     color: #212529 !important; font-size: 1rem !important;}