.attendeesImg {
    border-radius: 50% !important;
    height: 1.5rem;
    width: 1.5rem;
}

.EventAttendes {
    cursor: pointer;
    margin: 10px 0;
    padding: 8px 10px;
    color: #fff;
    background-color: #008751 !important;
    width: 180px;
    border-radius: 4px;
}

.eventtextnew {
    font-size: 14px;
    color: #6c757d;
}

.EventAttendesGray {
    cursor: pointer;
    margin: 10px 0;
    padding: 8px 10px;
    color: #fff;
    background-color: #6c757d !important;
    width: 150px;
    border-radius: 4px;
}