.attendeesImg {
    border-radius: 50% !important;
    height: 1.5rem;
    width: 1.5rem;
}

.eventtextnew svg{vertical-align: text-bottom !important;width: 14px; }
.app-menu{padding-top: 0px !important;}
.EventAttendes {
    cursor: pointer;
    margin: 10px 0;
    padding: 8px 10px;
    color: #fff;
    background-color: #008751 !important;
    width: 180px;
    border-radius: 4px; text-align: center;
}
.btn-primary{border-color: #1fb0e5 !important;}
.form-control:focus{box-shadow: none !important; outline: 1px solid #1fb0e5 !important;}
.EventAttendes svg{margin-top: -4px; margin-right: 5px; }
.eventtextnew {
    font-size: 14px;
    color: #6c757d;
}

.EventAttendesGray {
    cursor: pointer;
    margin: 10px 0;
    padding: 8px 20px;
    color: #fff;
    background-color: #6c757d !important;
    float: left;
    display: inline-block;
    border-radius: 30px; font-size: 14px;
}
.eventcommm .nose{padding: 0px !important; margin: 0px !important; }
.postion8{ width:95%; float: right; margin-top: 92px; }
.mainevent {border-bottom: 1px solid #ccc; padding: 10px 0px;}
.mainevent:last-child{border-bottom: 0px !important;}


@media(max-width:1440px)
{
  
    .internalmedia .gal-box .image-popup {
        height: 200px !important;
    }
}
