.attendeesImg {
    border-radius: 50% !important;
    height: 1.5rem;
    width: 1.5rem;
}
.eventtextnew svg{vertical-align: text-bottom !important;width: 14px; }
.app-menu{padding-top: 0px !important;}
.EventAttendes {
    cursor: pointer;
    margin: 10px 0;
    padding: 8px 10px;
    color: #fff;
    background-color: #008751 !important;
    width: 180px;
    border-radius: 4px; text-align: center;
}
.EventAttendes svg{margin-top: -4px; margin-right: 5px; }
.eventtextnew {
    font-size: 14px;
    color: #6c757d;
}

.EventAttendesGray {
    cursor: pointer;
    margin: 10px 0;
    padding: 8px 20px;
    color: #fff;
    background-color: #6c757d !important;
    float: left;
    display: inline-block;
    border-radius: 30px; font-size: 14px;
}
.eventcommm .nose{padding: 0px !important; margin: 0px !important; }