
.rounded-circlecss {
    border-radius: 50% !important;
    height: 2rem !important;
    width: 2rem !important;
  }
  .tabcss {
    padding-bottom: 15px !important;
    padding-top: 15px !important;
}
  .pimg{margin-left: -10px !important;}
  .bg-light {
    background-color: #ececec !important;
}
.primary1 {
  border-color: #1fb0e5 !important;
  font-size: 16px !important;
  min-width: 90px;
  padding: 5px 16px !important;
  text-transform: capitalize;
}
.btn-primary:hover {
  background: #008751 !important;
  border-color: #008751 !important;
  color: #fff !important;
}
  .modal-title{font-size: 16px;}
  .newt6 svg{vertical-align: text-bottom !important;}
  .two-line{    overflow: hidden; line-height: 18px !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 2;
    }
    .dropdown-toggle:after{
      display: none !important;
    }
    .projectmemeber{display: flex; border-bottom: 1px solid #efefef; padding: 5px 0px;   gap:5px; position: relative;align-items: center;
      font-size: 14px;}
      .projectmemeber:last-child{border-bottom: 0px solid #efefef;  }
      .minw80 .modal-dialog{min-width: 85% !important;}
      .minw80 .moday-body{max-height: 470px;  overflow-y: auto;}
      .newaligntext{padding: 0px; min-width: auto !important;}
      .newaligntext button{padding: 0px; min-width: auto !important;}
      .widtsvg svg{width: 18px !important; margin-top: 2px;}
.team-fedd .dropdown svg{font-size: 24px;}
    .newaligntext div{
      min-width: auto;
      padding: 0px 20px;
    }


  /* Popup.css */
.popup-container {
  position: relative;
}
.rounded-circlecss6{    width: 40px;
  height: 40px; font-size: 14px !important; line-height: 30px !important;
  border-radius: 1000px;}
  .alignright{    position: absolute;
    right: 20px; width:21px;
    top: 19px;cursor: pointer;
}
.css-13cymwt-control{float: left; width: 100%; margin: 10px 0px;}
.action-icon{
  position: absolute;
    right: -3px; top:19px;
}
.newdrop{
  position: absolute !important;
  top: 30px;
  right: 21px;
}
.action-icon svg{
  height:20px;
}
#s4-workspace{margin-top: -14px;}

.displcenter{display: flex; margin-top: 10px; justify-content: center; text-align:center;}
.displcenter img{width: 5rem !important; height: 5rem !important; border-radius: 1000px !important; }
.btn-secondary{    background: #6c757d !important;
  width: 100%;
  color: #fff;
  text-align: left;}
  .chosefile{
    margin-right: -2px;
   
    align-items: center;
    gap: 10px;
    border: 1px dashed #3c3c3c;

    border-radius: 5;
    padding: 5px 200px;
    border-radius: 5px;
    float: left;
  }
  .chosefile img{
    width: 25px !important;
float: left;
  }
  .chosefile  span{
    margin-top: 1px;
float: left;
margin-left: 5px;
}
 .listnew {list-style: none;
  margin: 0;
  border-bottom: 1px solid #3c3c3c;
  margin-bottom: 28px !important;
  padding-bottom: 14px;}
 .listnew li{display: inline-block; padding: 0px 5px;} 
.juss{justify-content: flex-start;
gap: 15px;
align-items: center;}
textarea{border: none;}
textarea:focus{outline: none;}
.ht{padding: 6px 10px;}
.open-popup-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.open-popup-btn:hover {
  background-color: #0056b3;
}
.tabcss:hover button{color: #fff !important;}
.opend svg{height: 14px;}
.popup input[type="text"],
  .popup input[type="email"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .plusiconalign{min-width: 30px;
    padding: 0;
    background: transparent;
    border: 0;
    position: absolute;
    right: 8px;
    top: 13px;}
    .plusiconalign img{
      width: 32px;
    }
  .popup h2{    font-size: 18px;
    color: #3c3c3c;}
    .popup  .close-btn{
      background: #fff;
      color: #3c3c3c;
      min-width: auto;
      width: 35px;
      height: 35px;
      border-radius: 1000px !important;
      border: 1px solid #efefef;
      line-height: 19px;
    }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 300px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  border: none;
  background: none;
  color: #333;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
}

h2 {
  margin-top: 0;
}

form {
  margin-top: 15px;
}

// input[type="text"],
// input[type="email"] {
//   width: 100%;
//   padding: 8px;
//   margin: 5px 0;
//   border: 1px solid #ccc;
//   border-radius: 4px;
// }
.minw80 ul{list-style: none; margin-bottom: 0px;}

.minw80 button{min-width: auto; border: none;}
button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #1fb0e5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #1fb0e5;
}
@media(max-width:640px){
  .modal-dialog .modal-header{position: relative !important;}
  .chosefile{    padding: 5px 10px;}
  .wi8{    width: 10%;
    float: left;}
    .wi81{    width: 80%;
      float: left;}
      .wi82{    width: 5%;
        float: left;}
        .two-line{height: auto;}
}