
.inputcss
{
  height: 30px;
  color: #6c757d;
  padding: .55rem .9rem !important;
  font-size: .875rem !important;
  font-weight: 400 !important;
}
.paddb{
  min-height: calc(100vh - 159px);
}
#s4-workspace{overflow: hidden !important;}
.btn-light{
  border-radius: 30px;
  font-size: 13px;
  color: #3c3c3c;
  background: #fff;
  border: 1px solid #efefef;
}
.indexdesign {
  background: #d2effa !important;
  border: none;
  border-radius: 1000px;
  color: #1fb0e5 !important;
  display: flex
;
  font-size: 16px !important;
  font-weight: 600;
  height: 28px !important;
  justify-content: center;
  line-height: 30px !important;
  margin-left: 0;
  margin-top: 0 !important;
  padding: 0 1px !important;
  width: 28px !important;
}
.btn-primary svg, .btn-secondary svg{height: 13px;
  vertical-align: text-top;
  margin-top: 2px;}

.mtable td:first-child{border-top-left-radius: 0px; border-bottom-left-radius: 0%;}
.mtable td:last-child{border-top-right-radius: 0px; border-bottom-right-radius: 0px;}
input.form-control.inputcss {
  display: block;
  width: 100%;
  padding: .55rem .9rem !important;
  font-size: .875rem !important;
  font-weight: 400 !important;
  height: 40px !important;
  line-height: 1.5;
  box-shadow: none;
  color: #6c757d !important;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ededed;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
   
    cursor: pointer;
  }

  .mtable tbody tr:nth-of-type(2n), .mtable tbody tr:hover {
    background-color: #fff !important;
}
.mtable tbody tr:hover {
  box-shadow: 0 0 0px #ccc !important;
}
.content-page{top: 0rem !important;}
.mtable td{color: #6c757d;}
.mtable th:first-child,.mtable td:first-child{border-top-left-radius: 0px;border-bottom-left-radius: 0px;}
.mtable th:last-child,.mtable td:last-child{border-top-right-radius: 0px;border-bottom-right-radius: 0px;}
.mtable td .svg-inline--fa{font-size: 20px;}
  .dropdown-content {
    background-color: #fff;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, .16), 0 2px 6px 0 rgba(0, 0, 0, .12);
    display: none;
    min-width: 110px;
    position: absolute;
    right: 1rem;
    transform: translateY(0px);
    padding: 0.5rem;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  .show {
    display: block;
  }
  .showNews
  {
    display: block;
  }
  @media(max-width:1920px){
    .paddb{min-height: calc(100vh - 168px);}
}

@media(max-width:1600px){
  
  #s4-workspace{overflow-y: auto !important;}
}
  .mtable td{font-size: 14px; color: #3c3c3c;  border-bottom: 1px solid #efefef !important;  vertical-align: middle;}