.bg {
  bottom: 7px;
  position: absolute;
  right: 0px;
}
.nav-pills .nav-link.active{
  background:#1fb0e5 !important;
}
.heightcard{    transition: transform .2s;}
.heightcard:hover h4{text-decoration: underline;}
.toggle-switch {
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-switch .switch {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-switch .on {
  background-color: green;
}

.toggle-switch .on .switch {
  transform: translateX(25px);
}

.toggle-switch .off {
  background-color: red;
}

.toggle-switch .off .switch {
  transform: translateX(0);
}

.bg img{width: 80%;}
  
  h4.card-title {
    color: rgb(255, 255, 255) !important;
  }
  .btn-lightcss {
    position: absolute;
    bottom: 15px;
    left: 14px;
    text-align: left;
    padding: 5px 12px !important;
    height: 37px;
    line-height: 27px !important;
    background: #fff;
    color: white !important; width: 90px; text-align: center;
  }
  .newhoverzom:hover {
    cursor: pointer;
    transform: scale(1.06);
}
.btn-light1{padding: 7px 12px !important;border-radius: 7px !important; background: #f8f9fa; border-color:#f8f9fa }
    .btn-light1:hover{background: #008751; border-color: #008751;}
  .btn-blue{
    // background-color: blue !important;
  }

  .btn-lightcss {
    position: absolute;
    bottom: 15px;
    left: 14px;
    text-align: left;
    padding: 10px 12px;
    height: 37px;
    line-height: 27px;
    background: #fff;
    color: #1fb0e5 !important;
  }
  // .btn-red{
  //   color: red !important;
  // }
  .btn-lightcss svg{
    vertical-align: text-top !important;
  }

  .card.heightcard {
    background: rgb(18, 168, 222);
    color: rgb(255, 255, 255);
    box-shadow: 0 3px 20px #1d26260d;
    border-radius: 20px !important;
    height: 160px !important;
    border: none;
  }
  .Addcss {
    color: #fff;
    background: #6c757d;
    width: 10rem;
    height: 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .inputcss {
    height: 40px;
    color: #6c757d;
    padding: 0.55rem 0.9rem !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
  }
  input.form-control.inputcss {
    display: block;
    width: 100%;
    padding: 0.55rem 0.9rem !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
    height: 40px !important;
    line-height: 1.5;
    box-shadow: none;
    color: #6c757d !important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ededed;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
  }
  
  .dropdown {
    position: relative;
    // display: inline-block;
  }
  
  .dropbtn {
    cursor: pointer;
  }
  
  .dropdown-content {
    background-color: #fff;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.16),
      0 2px 6px 0 rgba(0, 0, 0, 0.12);
    display: none;
    min-width: 110px;
    position: absolute;
    right: 1rem;
    transform: translateY(0px);
    padding: 0.5rem;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  .show {
    display: block;
  }
  .showNews {
    display: block;
  }
  .dropzone {
    border: 2px dashed #ededed;
    background: var(--ct-secondary-bg);
    border-radius: 6px;
    cursor: pointer;
    min-height: 150px;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  .dropzone .dz-message {
    text-align: center;
    margin: 2rem 0;
  }
  @media(max-width:640px){
    .navcss{padding: 0px 1.5rem !important;}
  }